# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc

# Environment Variables (CRITICAL: Never upload these!)
.env
backend/.env
ml_engine/.env
frontend/.env

# Build outputs & System files
frontend/dist/
.DS_Store

# Editor
.vscode/